@use 'src/app/assets/styles/mixins' as *;

.Footer {
	overflow: hidden;
	background: var(--white);
	@include adaptiveSize('margin-top', 160, 80);
	&-top {
		@include adaptiveSize('padding-top', 64, 40);
		@include adaptiveSize('padding-bottom', 58, 32);
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
		grid-template-areas: 'logo col2 col3 col4 promo';
		gap: 40px;
		@media screen and (max-width: 1275px) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				'logo logo logo'
				'col2 col3 col4'
				'promo promo .';
			column-gap: 24px;
			row-gap: 32px;
		}
		@media screen and (max-width: 768px) {
			column-gap: 24px;
			row-gap: 32px;
		}
		@media screen and (max-width: 480px) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'logo logo'
				'col2 col3'
				'col4 promo';
		}
	}
	&-col {
		img {
			max-width: 227px;
			@media screen and (max-width: 480px) {
				max-width: 100%;
			}
		}
		&:first-child {
			grid-area: logo;
			display: flex;
			flex-direction: column;
			@media screen and (max-width: 1275px) {
				flex-direction: row;
				justify-content: space-between;
			}
			@media screen and (max-width: 480px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 24px;
			}
			.Footer-contacts {
				margin-top: auto;
				span {
					display: block;
					max-width: 150px;
				}
				@media screen and (max-width: 1275px) {
					br {
						display: none;
					}
				}
				a {
					transition: var(--transition);
					&:hover {
						color: var(--main-blue);
					}
				}
			}
		}
		&:nth-child(2) {
			grid-area: col2;
		}
		&:nth-child(3) {
			grid-area: col3;
		}
		&:nth-child(4) {
			grid-area: col4;
		}
		&-promo-cars {
			grid-area: promo;
			padding-top: 45px;
			@media screen and (max-width: 1275px) {
				padding-top: 0px;
			}
			@media screen and (max-width: 480px) {
				padding-top: 35px;
			}
			ul {
				@media screen and (max-width: 1275px) {
					column-count: 2;
				}
				@media screen and (max-width: 480px) {
					column-count: 1;
				}
			}
		}
	}
	&-menu {
		display: flex;
		flex-direction: column;
		&-head {
			@include adaptiveSize('margin-bottom', 24, 12);
			text-transform: uppercase;
			font-style: italic;
		}
		li {
			a {
				transition: var(--hover);
				&:hover {
					color: var(--main-blue);
				}
			}
			&:not(:last-child) {
				@include adaptiveSize('margin-bottom', 16, 2);
			}
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
	&-static-pages {
		display: flex;
		flex-wrap: wrap;
		@media screen and (max-width: 768px) {
			display: block;
			column-count: 2;
			column-gap: 24px;
		}
		li {
			a {
				transition: var(--transition);
				&:hover {
					color: var(--black-text);
				}
			}
			&:not(:last-child) {
				display: flex;
				align-items: center;
				margin-right: 10px;
				&:after {
					content: '';
					display: inline-block;
					width: 5px;
					height: 5px;
					border-radius: 100%;
					background: var(--main-blue);
					margin-left: 10px;
					@media screen and (max-width: 768px) {
						display: none;
					}
				}
			}
		}
	}
	&-copyright {
		color: var(--main-blue);
		&-top {
			&-content {
				@media screen and (max-width: 768px) {
					margin-bottom: 40px;
				}
			}
		}
		&-bottom {
			padding: 12px 0;
			background: var(--blue-10);
			border-top: 1px solid var(--black-text);
			border-bottom: 1px solid var(--black-text);
			&-content {
				display: flex;
				align-items: center;
				justify-content: space-between;
				@media screen and (max-width: 768px) {
					justify-content: center;
					color: var(--black-text);
				}
			}
		}
	}
}
