%label {
	display: flex;
	color: var(--black-60);
	font-weight: 400;
	margin-bottom: 0.57rem;
	font-size: var(--fSize14);
	text-align: left;
	width: 100%;

	&.error {
		color: var(--system-red);
	}
}

%input {
	font-weight: 400;
	height: 50px;
	border: 1px solid var(--black-20);
	border-radius: 50px;
	outline: none;
	position: relative;
	width: 100%;
	font-size: 1rem;
	padding: 1.21rem 1rem 1.21rem 1.14rem;
	box-sizing: border-box;
	resize: none;
	transition: var(--transition);
	color: var(--black-100);

	&::placeholder {
		color: var(--black-100);
	}

	&:focus {
		border: 1px solid var(--primary-20);
	}

	&:disabled {
		border: 1px solid var(--black-10);
		background: var(--black-10);
		color: var(--black-10);
	}

	// &:hover {
	// 	border: 1px solid var(--black-10);
	// }
}

.PasswordField {
	position: relative;
	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	padding-bottom: 30px;
	&.error {
		padding-bottom: 0px;
		.input {
			border-color: var(--system-error);
		}

		.label {
			color: var(--system-error);
		}
	}

	&-label {
		@extend %label;
	}

	&-input {
		@extend %input;
		padding-right: 5.7rem;
	}

	&-control {
		position: relative;
	}

	&-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1.1em;
		line-height: 1;
		background: transparent;
		color: var(--gray-10);
		padding: 0.25em 0.5em;
		display: flex;
		align-items: center;

		&-text {
			font-weight: bold;
			margin-left: 0.5em;
		}

		&:active {
			transform: translateY(-50%) scale(1);
		}
	}

	&-error-message {
		color: var(--system-error);
		padding-top: 0.25rem;
		font-size: var(--fSize10);
		text-align: left;
	}

	&-note {
		margin-top: 0.25rem;
		font-size: var(--fSize10);
		color: var(--black-80);
	}
}
