@use 'src/app/assets/styles/mixins' as *;

.section {
	overflow: hidden;
	position: relative;
	@include adaptiveSize('padding-top', 160, 80);
}

.read {
	display: flex;
	justify-content: center;
	margin-top: 48px;
}
