.SectionHead {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 64px;
	@media (max-width: 768px) {
		margin-bottom: 40px;
	}
	text-transform: uppercase;
	&.only-title {
		@media (max-width: 768px) {
			margin-bottom: 24px;
		}
		h2 {
			margin-bottom: 0;
		}
	}
	h2 {
		margin-bottom: 24px;
		@media (max-width: 768px) {
			text-align: center;
			margin-bottom: 16px;
		}
	}
	p {
		font-style: italic;
		max-width: 751px;
		@media (max-width: 768px) {
			text-align: center;
		}
	}
}
