@use 'src/app/assets/styles/mixins' as *;

.block {
	border: 1px solid var(--black-text);
	background: var(--white);
	@include adaptiveSize('padding', 48, 16);
	h4 {
		text-align: center;
		@include adaptiveSize('margin-bottom', 24, 8);
	}
	p {
		@include adaptiveSize('margin-bottom', 40, 24);
		text-align: center;
		@media (max-width: 768px) {
			text-align: left;
		}
	}
}
