:root {
	--white: #ffffff;
	--black: #000000;

	--black-5: #f4f4f4;
	--black-10: #e8e8e9;
	--black-20: #d2d2d3;
	--black-40: #a5a5a6;
	--black-60: #78787a;
	--black-80: #4b4b4d;
	--black-text: #1e1e21;

	--blue-10: #f0fbfd;
	--blue-20: #e1f7fa;
	--blue-40: #c3f0f6;
	--blue-60: #a6e8f1;
	--blue-80: #88e1ed;
	--main-blue: #6ad9e8;

	--green-20: #edfeef;
	--green-40: #dafedf;
	--green-60: #c8fdcf;
	--green-80: #b5fdbf;
	--main-green: #a3fcaf;

	--system-green: #30ac63;
	--system-error: #ea3c24;
	--system-yellow: #ffbb36;

	--gradient: linear-gradient(89.93deg, #87dce8 0.04%, #93eacf 48.43%, #a3fcb0 99.92%);
	--gradient-medium: linear-gradient(89.93deg, #b3f4fd 0.04%, #b8fee8 48.43%, #cdffd4 99.92%);
	--gradient-light: linear-gradient(89.93deg, #defbff 0.04%, #dbfdf2 48.43%, #e3ffe7 99.92%);

	--bg: #f5f5f5;
}
