@mixin disable-scrollbar() {
	// webkit
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		background: transparent;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	// -moz-
	&::-moz-scrollbar {
		width: 0;
		height: 0;
	}
	&::-moz-scrollbar-thumb {
		background: transparent;
	}
	&::-moz-scrollbar-track {
		background: transparent;
	}

	//-ms-
	&::-ms-scrollbar {
		width: 0;
		height: 0;
	}
	&::-ms-scrollbar-thumb {
		background: transparent;
	}
	&::-ms-scrollbar-track {
		background: transparent;
	}
}

@mixin placeholder($color: #727272, $opacity: 1) {
	&::-webkit-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
	&::-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	&:-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	&:-ms-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
}

@mixin placeholder-content {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin adaptiveSize($property, $maxSize, $minSize) {
	#{$property}: calc(
		#{$minSize}px + (#{$maxSize} - #{$minSize}) * ((100vw - calc(320 * 1px)) / (1920 - 320))
	);
	@media (min-width: 1920px) {
		#{$property}: #{$maxSize}px;
	}
}

@mixin textLine($lineCount) {
	display: -webkit-box;
	-webkit-line-clamp: $lineCount;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin scrollbars(
	$size: 4px,
	$foreground-color: #1e1e21,
	$background-color: #f4f4f4,
	$border-radius: 20px
) {
	// For Chrome & Safari
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
		border-radius: $border-radius;
	}

	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
		border-radius: $border-radius;
	}

	&::-webkit-scrollbar-track {
		background: $background-color;
		border-radius: $border-radius;
	}

	// Standard version (Firefox only for now)
	scrollbar-color: $foreground-color $background-color;
}
