@use 'src/app/assets/styles/mixins' as *;

.Spollers {
	.Spoller {
		position: relative;
		border: 1px solid var(--black-text);
		&.small {
			.Spoller-head {
				@include adaptiveSize('padding', 20, 16);
			}
			.Spoller-id {
				margin-right: 5px;
			}
			&.open {
				.Spoller-id {
					color: var(--main-green);
				}
				.Spoller-head {
					color: var(--black-text);
					padding-bottom: 8px;
					@media screen and (max-width: 768px) {
						padding-bottom: 5px;
					}
				}
				.Spoller-body {
					@include adaptiveSize('padding-left', 20, 16);
					@include adaptiveSize('padding-right', 20, 16);
					@include adaptiveSize('margin-bottom', 20, 16);
				}
			}
		}
		&.open {
			.Spoller-head {
				color: var(--black-60);
				padding-bottom: 24px;
				i {
					transform: rotate(-180deg);
				}
				@media screen and (max-width: 768px) {
					padding-bottom: 12px;
				}
			}
			.Spoller-id {
				color: var(--black-60);
			}
			.Spoller-body {
				@include adaptiveSize('padding-left', 32, 24);
				@include adaptiveSize('padding-right', 32, 24);
				@include adaptiveSize('margin-bottom', 32, 24);
				opacity: 1;
			}
		}
		&-id {
			font-style: italic;
			@include adaptiveSize('margin-right', 24, 8);
			color: var(--main-green);
			transition: var(--transition);
		}
		&:hover:not(.open) {
			.Spoller-head {
				color: var(--black-60);
			}
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			@include adaptiveSize('padding', 32, 24);
			cursor: pointer;
			transition: var(--transition);
			position: relative;
			z-index: 2;
			font-style: italic;
			text-transform: uppercase;
			i {
				align-self: baseline;
				color: var(--black-text);
				transition: var(--transition);
				@media screen and (max-width: 768px) {
					font-size: 16px;
				}
			}
			& > span {
				display: grid;
				grid-template-columns: auto auto;
			}
		}
		&-body {
			color: var(--black-text);
			overflow: hidden;
			transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
			position: relative;
			z-index: 2;
			opacity: 0;
			max-width: 1030px;

			button {
				@include adaptiveSize('margin-top', 32, 16);
				margin-bottom: 1px;
			}
		}
	}
	&-small {
	}
}
