@use 'src/app/assets/styles/mixins' as *;

.block {
	@include adaptiveSize('margin-top', 24, 16);
	@include adaptiveSize('padding-top', 24, 16);
	@include adaptiveSize('padding-bottom', 24, 16);
	background: var(--blue-10);
}
.inner {
	display: flex;
	justify-content: center;
	align-items: center;
	& > div {
		width: 100%;
		max-width: 1014px;
	}
}
