@use 'src/app/assets/styles/mixins' as *;
@use 'src/app/assets/styles/extends' as *;

.card {
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 4fr;
	@media (max-width: 1200px) {
		grid-template-columns: 224px 380px;
	}
	@media (max-width: 768px) {
		grid-template-columns: 124px 200px;
	}
}
.image {
	overflow: hidden;
	border: 1px solid var(--black-text);
	img {
		transition: var(--transition);
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}
.imageLink {
	display: block;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	flex-wrap: wrap;
	@include adaptiveSize('margin-bottom', 16, 8);
}
.tag {
	font-style: italic;
	text-transform: uppercase;
	color: var(--main-blue);
	cursor: pointer;
}
.title {
	@include textLine(3);
	cursor: pointer;
	margin-bottom: 16px;
	h4 {
		line-height: 120%;
	}
	@media (max-width: 768px) {
		margin-bottom: 8px;
	}
}
.body {
	height: 100%;
	display: flex;
	flex-direction: column;
	@include adaptiveSize('padding-left', 16, 8);
}
.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}
.date {
	font-weight: 700 !important;
	color: var(--black-80);
}
